<form [formGroup] = "msgform" (ngSubmit) ="sendData()" >
  <!-- סוגריים עגולים שמורים לאיבנטים -->
  <div>
    <!--label+input-->
    <label for="message">Message</label>
    <input type="text" name="message" id="message"
    class= "form-control" formControlName = "message" >
  
  </div>
  
  <div>
   <label for="user_id">User id</label>
    <input type="text" name="user_id" id="user_id"
    class= "form-control" formControlName = "user_id">
  
  </div>
  <!-- תרגיל 6 שם כפתור דינאמי-->
  <input type="submit" value="{{submitButtonText}}" class="btn btn-primary">
  
  
  </form>